@using Microsoft.AspNetCore.Identity
@using Reservations.Controllers

@inject UserManager<User> UserManager
@inject ReservationsDbContext _context

@model Reservations.Models.Hotel

@{
    var userId = UserManager.GetUserId(User);
    var userReservations = _context.Reservations.Where(r => r.UserId == userId).ToList();
}

<h2><strong>@Model.Name</strong></h2>
@* <p>Hotel ID: @Model.Id</p> *@
<h3>Rooms</h3>

@if (User.IsInRole("Admin"))
{<p>
    <a asp-controller="Room" asp-action="Create" asp-route-hotelId="@Model.Id">Create New</a>
</p>}
@if (Model.Rooms.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Room Number</th>
                <th>Type</th>
                <th>Available</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in Model.Rooms)
            {
                var reservation = userReservations.FirstOrDefault(r => r.RoomId == room.Id);
                <tr>
                    <td>@room.RoomNumber</td>
                    <td>@room.Size</td>
                    <td>
                        @if (room.IsRented)
                        {
                            <span style="color: red;">✖</span>
                        }
                        else
                        {
                            <span style="color: green;">✔</span>
                        }
                    </td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {<a asp-controller="Room" asp-action="Edit" asp-route-id="@room.Id">Edit</a> <span> |</span>}
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-controller="Room" asp-action="Delete" asp-route-id="@room.Id">Delete</a>

                            <span> |</span>
                        }
                        @if (!room.IsRented)
                        {
                            @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                            {
                                
                                <a asp-controller="Reservation" asp-action="Create" asp-route-roomId="@room.Id">Make reservation</a>
                            }
                        }
                        @if (room.IsRented && reservation != null)
                        {
                            <a asp-controller="Reservation" asp-action="Delete" asp-route-roomId="@room.Id">Check-out</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No rooms available in this hotel.</p>
}

<a asp-action="Index">Back to List</a>
