@model Reservations.Models.Hotel

@{
    ViewData["Title"] = "Details";
}

<h1>List of Rooms available for renting at @Model.Name</h1>
<br />

<p>
    <a asp-controller="Room" asp-action="Create" asp-route-hotelId="@Model.Id">Create New Room</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Room Number</th>
            <th>Size</th>
            <th>Price per Night</th>
            <th>Availability</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model.Rooms)
        {
            <tr>
                <td>@room.RoomNumber</td>
                <td>@room.Size</td>
                <td>@room.PricePerNight $</td>
                <td>
                    @if (room.Available == true)
                    {
                        <span class="text-success">&#10004;</span>
                    }
                    else
                    {
                        <span class="text-danger">&#10008;</span>
                    }
                </td>
                <td>
                    <div class="btn-group" role="group">
                        @Html.ActionLink("Edit", "Edit", "Room", new { id = room.Id }, new { @class = "btn btn-primary btn-sm mr-2" })
                        @Html.ActionLink("Delete", "Delete", "Room", new { id = room.Id }, new { @class = "btn btn-danger btn-sm" })
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />

@if (Model.Rooms.Any(r => r.Available))
{
    <div class="btn-group" role="group">
        <a asp-action="Create" asp-controller="Reservation" asp-route-hotelId="@Model.Id" class="btn btn-success btn-sm">Make Reservation</a>
    </div>
}

<div class="btn-group" role="group">
    <a asp-action="Index" class="btn btn-secondary btn-sm">Back to List</a>
</div>
